/* This is for the TailDiv */
.dataInsBtn {
  height: 40px;
  background-color: lightskyblue;
  width: 140px;
  margin-top: 900px;
  margin-left: 50px !important;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  text-align: center;
  opacity: 0;
}

.dataInsBtn.fadeIn {
  transition: 2.5s;
  margin-top: 500px;
  opacity: 1 !important;
}

.dataInsBtn div {
  height: fit-content;
  width: fit-content;
  margin-top: 10px !important;
  margin-left: auto;
  margin-right: auto;
}

.dataInsBtn div a {
  text-decoration: underline;
  color: black;
  margin-top: 10px;
}
