html {
  background-color: rgb(172, 202, 206);
}

.mbTitleBox {
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 700px);
  height: 100px;
  margin-top: 20px;
  background-color: grey;
  box-shadow: 5px 5px 10px black;
  padding: 20px;
  border-radius: 30px;
}

.mbTitleBox h1 {
  font-family: Georgia;
  word-spacing: 30px;
  letter-spacing: 7px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.mediaBoxHolder {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  background-color: grey;
  box-shadow: 5px 5px 10px black;
  width: calc(100% - 500px);
  height: 700px;
  border-radius: 30px;
  padding: 10px;
  overflow-wrap: break-word;
}

.mediaPlayer {
  background-color: aliceblue;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  width: fit-content;
  float: none;
}

.mediaScroll {
  margin-top: 10px;
  float: none;
  overflow-x: scroll;
}

.mediaScroll ol {
  list-style: none;
  width: fit-content;
}

.mediaScroll ol form li input {
  float: left;
  width: fit-content;
  height: 50px;
  background-color: aliceblue;
  margin: 5px;
  transition-duration: 0.3s;
  border-radius: 10px;
  padding: 5px;
}

.mediaScroll ol li input:hover {
  border: 2px solid black;
}

.uploadMediaForm {
  width: 600px;
}
