html {
  background-color: rgb(172, 202, 206);
}

.mbTitleBox {
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 700px);
  height: 100px;
  margin-top: 40px;
  background-color: gray;
  box-shadow: 5px 5px 10px black;
  padding: 20px;
  border-radius: 30px;
}

.mbTitleBox h1 {
  font-family: Georgia;
  word-spacing: 30px;
  letter-spacing: 7px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.mediaBoxHolder {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: grey;
  box-shadow: 5px 5px 10px black;
  width: calc(100% - 500px);
  height: 600px;
  border-radius: 30px;
}
