html {
  background-color: rgb(61, 61, 61);
}

.PRHeadDiv {
  margin-left: auto;
  margin-right: auto;
}

.PRHeadDiv h1 {
  font-family: Impact;
  font-stretch: expanded;
  text-align: center;
  color: aliceblue;
}

.PRBodyDiv {
  margin-left: auto;
  margin-right: auto;
}

.PRBodyDiv p {
  color: lightgray;
}
