html {
  background-color: rgb(61, 61, 61);
}

.PRHeadDiv {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.PRHeadDiv div {
  background-color: grey;
  height: 110px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}

.PRHeadDiv div h1 {
  font-family: Impact;
  word-spacing: 30px;
  letter-spacing: 5px;
  text-align: center;
  color: aliceblue;
}

.PRBodyDiv {
  margin-left: auto;
  margin-right: auto;
}

.PRBodyDiv p {
  color: lightgray;
  margin-top: 100px;
  margin-left: 200px;
}
